.contents {
    position: relative;
    width: 1110px;
    height: auto;
}
.circle {
    position: relative;
    width: 10px;
    height: 10px;

    top: 0px;
    left: 2px;

    border-radius: 5px;

    background-color: #5B8DEF;
}
.contents > div:nth-child(2) {
    position: relative;
    width: auto;
    height: auto;

    top: 10px;
    left: 0px;

    display: flex;
    gap: 20px;
}
.contents > div:nth-child(2) > p:nth-child(1) {
    position: relative;

    font-size: 43px;
    font-weight: 800;
    font-family: 'A2z';

    color: #5B8DEF;
}

.contents > div:nth-child(2) > p:nth-child(2) {
    position: relative;

    font-size: 27px;
    font-weight: 800;
    font-family: 'A2z';

    margin-top: 16px;

    color: white;
}
.contents > div:nth-child(3) {
    position: relative;

    margin-top: 25px;
    
    font-size: 19px;
    font-weight: 500;
    font-family: 'A2z';

    color: white;
}

