.viewTitle {
    position: relative;
    width: 250px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
}
.viewTitle > div:nth-child(1) {
    position: absolute;
    width: 3px;
    height: 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: #5B8DEF;
}
.v_title {
    position: relative;
    width: 200px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-right: 20px;
}

.v_title > p {
    height: 24px;

    font-family: 'A2z';
    font-weight: 500;
    font-size: 20px;

    text-align: right;

    color: #FFFFFF;
}

.v_contents {
    position: relative;
    width: auto;

    padding-right: 20px;
}
.v_contents > p {
    font-family: 'A2z';
    font-weight: 300;
    font-size: 18px;

    text-align: right;

    color: #FFFFFF60;
}