.header {
    width: 1500px;
    height: 125px;

    border-bottom: 2px solid #FFFFFF20 ;
}

.header > p {
    width: auto;
    height: auto;

    font-family: 'A2z';
    font-weight: 800;
    font-size: 30px;
    margin-top: 30px;

    color: white;
}
.menu {
    width: auto;
    height: auto;

    display: flex;
}
.menu > a {
    width: auto;
    height: auto;

    margin-top: 20px;
}
.contents {
    position: relative;
    width: auto;
    height: 38px;

    border-radius: 10px 10px 0px 0px;
}
.contents > p {
    width: auto;
    height: auto;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

    margin-bottom: 0px;

    font-family: 'A2z';
    font-size: 16px;
    font-weight: 600;

    color: white;
}
.contents > div {
    position: absolute;
    height: 38px;
    width: auto;

    bottom: 0px;
    left: 0;
    right: 0;

    transform-Origin: center;
    border-bottom : 2px solid #5B8DEF;
}