.header {
    position: fixed;
    top: 0px;
    left: 50%;

    transform: translate(-50%, 0);
}
.body {
    position: fixed;
    width: 1500px;
    left: 50%;
    
    top: 125px;
    
    transform: translate(-50%, 0);
}
aside {
    position: absolute;
    height: calc(100vh - 125px);
    width: 250px;

    left: 0px;
}
.index {
    position: absolute;
    top: 60px;
    right: 60px;
}
.line {
    position: absolute;
    width: 2px;
    height: calc(100vh - 20px);

    transform-origin: top;
    left: 250px;

    background-color: #FFFFFF20;
}
.contentsBody {
    position: absolute;
    width: 1190px;
    height: calc(100vh - 125px);
    top: 60px;
    transform: translate(-50%, 0);

    padding-bottom: 100px;

    display: flex;
    flex-direction: column;

    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;
    overflow-y: auto;
}
.contentsBody {
    margin-left: 310px;
    
}
.contentsBody::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera (webkit 기반) */
}
.viewMode {
    top: 283px;
}
.viewTitle {
    top: 308px;
    right: 60px;
}