.index {
    height: 193px;
    width: 190px;
}

.index > div {
    position: absolute;
    right: 0px;

    display: flex;
    gap: 10px;
}
.index > div > div {
    position: relative;
    width: 50px;
    height: 1px;

    top: 10px;

    background-color: #5B8DEF;
}
.index > div > p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'A2z';

    white-space: nowrap;

    color: #5B8DEF;

}
.index > p:nth-child(2), .index > p:nth-child(3) {
    position: absolute;
    right: 0px;
    font-size: 64px;
    font-weight: 800;
    font-family: 'A2z';
}   
.index > p:nth-child(2) {
    top: 39px;

    color: white;
}
.index > p:nth-child(3) {
    top: 114px;
    color: #5B8DEF;
}